[Desktop Entry]
Version=0.4.0
Name=Phonometrica
Comment=A platform for the analysis of speech corpora
Type=Application
Exec=phonometrica
Icon=/usr/local/share/phonometrica/sound_wave.png
Categories=Education;Science;
Keywords=audio;sound;speech;phonetics;phonology;corpus